  /* -------------------------------- #PARTNERS ------------------------------- */

  .slider{
        padding: var(--py) var(--px);
        overflow: hidden;
        width: 100%;
  }


  .slider-track {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      padding: 1em;
      box-shadow: 18px 17px 20px rgb(0 0 0/ 12%);
      transition: 500ms;
  }

  .slide:hover {
      transform: scale(1.2)
  }
      @keyframes scroll {
          0% {
              transform: translateX(0);
          }
    
          100% {
              transform: translateX(calc(-250px * 20));
          }
      }