/* -------------------------------- #VARIABLE ------------------------------- */


@import url(./variable.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* --------------------------------- #RESET --------------------------------- */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
}

img,
span,
a,
ion-icon {
  display: block;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--mustard);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}





/* ------------------------------- #COMPONENT ------------------------------- */

.btn {
  z-index: 1;
  font-size: var(--fs-5);
  line-height: 24px;
  padding: 9px 12px;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  color: #fefefe;
  text-transform: uppercase;
  background-color: var(--mustard);
  font-weight: 700;
  display: inline-block;
}

.btn .btn-text {
  position: relative;
  z-index: 5;
  color: white;
}

.btn:hover {
  color: #ffff;
}

.btn::before {
  top: 0px;
  width: 0px;
  left: auto;
  right: 0px;
  z-index: -1;
  bottom: 0px;
  content: "";
  position: absolute;
  background-color: rgb(42, 120, 203);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn:hover::before {
  left: 0px;
  width: 100%;
  right: auto;
}


.inline-block {
  display: inline-block;
}

.text-align-center {
  text-align: center;
}


/* ------------------------------ #REUSED STYLE ----------------------------- */


.section-subtitle {
  color: var(--blue);
  font-weight: var(--fw-7);
  font-size: var(--fs-3);
  text-transform: uppercase;
  text-align: center;
}

.section-text {
  color: var(--sonic-silver);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-10);
  line-height: 1.6;
}

.section-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-8);
  color: var(--oxford-blue);
  line-height: 1.3;
}

.section-subheading {
  font-size: var(--fs-3);
  font-weight: var(--fw-8);
  color: var(--oxford-blue);
  line-height: 1.6;
}






/* ---------------------------------- #MAIN --------------------------------- */

.container {
  background: var(--white);
  /* max-width: 1440px; */
  margin: auto;
  overflow: hidden;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}





/* --------------------------------- #HEADER -------------------------------- */


.navbar {
  position: fixed;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1780px;
  background: var(--white);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
  box-shadow: 0 10px 20px -5px hsl(0deg 0% 0% / 3%);
  z-index: 100;
}

.navbar .navbar-brand img {
  width: 80%;
  margin-top: 10px;
}


.navbar-nav {
  position: absolute;
  background: var(--white);
  top: calc(100% + 40px);
  left: 30px;
  right: 30px;
  text-align: center;
  box-shadow: 0 10px 30px -5px hsla(0, 0%, 0%, 0.25);
  padding: 30px;
  border-radius: 8px;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.nav-item a {
  padding: 10px;
  font-size: 22px;
  font-weight: var(--fw-6);
  color: var(--oxford-blue);
  transition: var(--default-transition);
}

.nav-item:not(:last-child) a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item a:hover {
  color: var(--mustard);
}

.navbar-nav.active {
  animation: menuPopup 0.5s ease forwards;
  pointer-events: all;
}

@keyframes menuPopup {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

.navbar .btn {}

.nav-toggle-btn {
  background: var(--mustard);
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.nav-toggle-btn span {
  background: var(--white);
  width: 30px;
  height: 2px;
  transition: var(--default-transition);
}

.nav-toggle-btn.active .one {
  transform: rotate(45deg) translate(3px, 3px);
}

.nav-toggle-btn.active .two {
  display: none;
}

.nav-toggle-btn.active .three {
  transform: rotate(-45deg) translate(2px, -2px);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: auto;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: auto;
  text-align: left;
}

.dropdown-content a {
  display: block;
  width: max-content;
  color: #000000;
  padding: 15px 25px 5px 15px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: var(--blue);
}

.navicon {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.navtext {
  display: inline-block;
}



/* --------------------------- #PROGRAMS CATEGORY --------------------------- */

.category {
  padding: var(--py) var(--px);
  background: var(--cultured);
}

.category .section-subtitle {
  text-align: center;
  font-size: var(--fs-3);
  margin-bottom: 15px;
}

.category .section-title {
  text-align: center;
  font-size: var(--fs-9);
  margin-bottom: 60px;
}

.category .programs-item-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.programs-category-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid hsl(0, 0%, 67%);
  border-radius: 8px;
  padding: 25px;
  transition: var(--default-transition);
}

.programs-category-item:hover {
  background: var(--mustard);
  border-color: var(--mustard);
  box-shadow: 0 10px 50px -20px var(--mustard);
}

.category-icon {
  width: 50px;
}

.category-icon.hover,
.programs-category-item:hover .category-icon.default {
  display: none;
}

.category-icon.default,
.programs-category-item:hover .category-icon.hover {
  display: block;
}

.category-title a {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
}

.category-subtitle {
  font-family: "Roboto", sans-serif;
  color: var(--sonic-silver);
  font-size: var(--fs-6);
}

.programs-category-item:hover .category-title a,
.programs-category-item:hover .category-subtitle {
  color: var(--white);
}



/* --------------------------------- #ABOUT --------------------------------- */

.about {
  padding: var(--py) var(--px);
  overflow: hidden;
  margin-top: -100px;
  display: flex;
}

.about-left {
  justify-content: center;
  align-items: center;
}

.about-left .video-box .about-video {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  object-fit: cover;
}

.about-img {
  width: auto;
  max-width: 100%;
  margin: auto;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-right .section-subtitle {
  margin-bottom: 10px;
  font-size: var(--fs-3);
}

.about-right .section-title {
  margin-bottom: 30px;
  font-size: var(--fs-9);
}

.about-right .section-text {
  margin-bottom: 20px;
}



/* --------------------------------- #EVENT --------------------------------- */


.event {
  padding: var(--py) var(--px);
  background: var(--cultured);

}

.event-left {
  position: relative;
  max-width: max-content;
  margin-bottom: 50px;
}

.event .banner-img {
  width: auto;
  max-width: 100%;
  border-radius: 8px;
}

.event .play {
  position: absolute;
  bottom: 100px;
  right: 0;
  padding: 10px 10px;
  background: var(--mustard);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 40px hsla(15, 100%, 55%, 0.7);
}

.event .play-icon {
  border-radius: 50%;
  box-shadow: 0 0 0 15px transparent;
}

.event .play ion-icon {
  display: block;
  color: var(--white);
  font-size: 70px;
  margin: -8px;
}

.event .play p {
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  color: var(--white);
}

.event .section-subtitle {
  margin-bottom: 15px;
  font-size: var(--fs-3);
  text-align: center;
}

.event .section-title {
  margin-bottom: 30px;
  font-size: var(--fs-9);
  text-align: center;
}

.event-card-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.event-card {
  background: var(--white);
  border-radius: 8px;
  padding: 30px 25px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  border-right: 5px solid transparent;
  transition: var(--default-transition);
}

.event-card .content-left {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 25px;
  box-shadow: 0 16px 0 -15px var(--light-gray);
}

.event-card .day {
  font-size: var(--fs-3);
  font-weight: var(--fw-7);
  color: var(--blue-crayola);
}

.event-card .daynew {
  font-size: 20px;
  font-weight: var(--fw-7);
  color: var(--blue);
}

.event-card .month {
  font-size: var(--fs-6);
  font-weight: var(--fw-5);
  color: var(--blue-crayola);
}

.event .schedule {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.event .schedule p {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  color: var(--sonic-silver);
}

.event .schedule .time {
  padding-right: 20px;
  margin-right: 20px;
  box-shadow: 4px 0 0 -3px var(--light-gray);
}

.event-card .event-name {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  line-height: 1.6;
  text-align: center;
  transition: var(--default-transition);
}

.event-card:hover {
  border-color: var(--mustard);
}

.event-card:hover .event-name {
  color: var(--mustard);
}






/* -------------------------------- #FEATURES ------------------------------- */


.features {
  background: var(--oxford-blue);
}

.features-left {
  padding: var(--py) var(--px);
}

.features .section-subtitle {
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
  font-size: var(--fs-3);
}

.features .section-title {
  color: var(--white);
  margin-bottom: 30px;
  text-align: center;
  font-size: var(--fs-9);
}

.features-item {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
  gap: 20px;
}

.features-item:not(:last-child) {
  margin-bottom: 30px;
}

.features-item .item-icon-box {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.features-item .blue {
  background: hsl(222, 87%, 56%);
}

.features-item .pink {
  background: hsl(336, 73%, 50%);
}

.features-item .purple {
  background: hsl(265, 83%, 44%);
}

.features-item .wrapper {
  max-width: calc(100% - 85px);
}

.features-item .item-title {
  color: var(--white);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  margin-bottom: 10px;
}

.features-item .item-text {
  font-family: "Roboto", sans-serif;
  color: hsl(231, 100%, 94%);
  font-size: var(--fs-6);
  line-height: 1.6;
}

.features-right {
  height: 500px;
}

.features-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* ------------------------------ #TESTIMONIAL ------------------------------ */


.testimonials {
  padding: var(--py) var(--px);
  background: var(--cultured);

}

.testimonials .section-subtitle {
  margin-bottom: 25px;
  margin-left: 50px;
  font-size: var(--fs-3);
}

.testimonials p {
  margin-bottom: 15px;
  margin-left: 50px;
}

.testimonials .section-title {
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: var(--fs-9);
}

.testimonials-right {
  padding: 50px 15px 0;
  margin-top: 2%;
  margin-bottom: 5%;
}

.testimonials-card {
  position: relative;
  background: var(--white);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.1);
}

.testimonials .quote-img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1;
}

.testimonials-text {
  color: var(--sonic-silver);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 50px;
}

.testimonials-client {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.client-img-box {
  border: 2px solid var(--mustard);
  border-radius: 8px;
  padding: 10px;
}

.client-img-box img {
  border-radius: 8px;
}

.client-detail .client-name {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  line-height: 1.2;
  font-weight: var(--fw-7);
  margin-bottom: 5px;
}

.client-detail .client-title {
  color: var(--mustard);
  font-size: var(--fs-6);
}

/* ---------------------------------- #FAQ ---------------------------------- */


.faq {
  padding: var(--py) var(--px);
  background: var(--cultured);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
}

.faq .section-subtitle {
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--fs-3);

}

.faq .section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: var(--fs-9);
}

.accordion {
  display: flex;
  width: 100%;
  max-width: 1010px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
  margin-top: 90px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: var(--white);
  box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.1);

}

.accordion .image-box {
  height: 360px;
  width: 300px;
}

.accordion .image-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.accordion .accordion-text {
  width: 60%;
}

.accordion .accordion-text .faq-text {
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}

.faq-text::-webkit-scrollbar {
  display: none;
}

.accordion .accordion-text li {
  list-style: none;
  cursor: pointer;
}

.accordion-text li .question-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-text li .question-arrow .question {
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li .question-arrow .arrow {
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li.showAnswer .question-arrow .arrow {
  transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
  color: var(--blue);
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
  color: var(--blue);
}

.accordion-text li .line {
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}

.accordion-text li p {
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}

.accordion-text li.showAnswer p {
  display: block;
}



/* ---------------------------------- #BLOG --------------------------------- */


.blog {
  padding: var(--py) var(--px) 250px;
  background: var(--cultured);
}

.blog .section-subtitle {
  text-align: center;
  margin: 15px;
  font-size: var(--fs-3);
}

.blog .section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: var(--fs-9);
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.blog-card {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  overflow: hidden;
  margin-top: 50px;
}

.blog-banner-box {
  overflow: hidden;
}

.blog-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.blog-card:hover .blog-banner-box img {
  transform: scale(1.1);
}

.blog-content {
  padding: 30px;
  padding-bottom: 20px;
}

.blog-title {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 15px;
}

.blog-title a {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  transition: var(--default-transition);
}

.blog-card:hover .blog-title a {
  color: var(--mustard);
}

.blog-content .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.blog-content .wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-gray);
  width: 1px;
  height: 15px;
}

.blog-publish-date,
.blog-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

:is(.blog-publish-date, .blog-comment) a {
  color: var(--sonic-silver);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  transition: var(--default-transition);
}

:is(.blog-publish-date, .blog-comment) a:hover {
  color: var(--oxford-blue);
}






/* -------------------------------- #REGISTER -------------------------------- */


.contact {
  position: relative;
}

.contact-card {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--purple);
  width: calc(100% - var(--px));
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.contact-card-bg {
  position: absolute;
  width: auto;
  max-width: 100%;
  top: -2px;
  left: -2px;
}

.contact-card h2 {
  position: relative;
  font-size: 30px;
  color: var(--white);
  font-weight: var(--fw-8);
  text-align: center;
}

.contact .btn-primary {
  justify-self: center;
}

/* --------------------------------- #FOOTER -------------------------------- */


footer {
  background: var(--oxford-blue);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 150px var(--px) 80px;
  margin-left: 5%;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  color: var(--lavender-blue);
  margin-bottom: 35px;
  line-height: 1.6;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link a {
  background: hsla(0, 0%, 100%, 0.1);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: var(--default-transition);
}

.social-link a:hover {
  background: var(--mustard);
}

.social-link ion-icon {
  font-size: 20px;
  color: var(--white);
}

.grid-item .item-heading {
  font-size: var(--fs-4);
  color: var(--white);
  margin-bottom: 25px;
}

.grid-item .list-item:not(:last-child) {
  margin-bottom: 10px;
}

.grid-item .list-item a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: var(--lavender-blue);
  font-size: var(--fs-6);
  transition: var(--default-transition);
}

.grid-item .list-item a:hover {
  transform: translateX(10px);
  color: var(--mustard);
}

.grid-item .wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 5%;
  margin-right: 5%;
}

.grid-item .wrapper input {
  width: 100%;
  padding: 20px 30px;
  padding-right: 70px;
  color: var(--oxford-blue);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  border: none;
  outline: none;
}

.grid-item .send-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 62px;
  height: 62px;
  background: var(--mustard);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--default-transition);
}

.grid-item .send-btn ion-icon {
  font-size: 25px;
  color: var(--white);
}

.grid-item .send-btn:hover {
  background: var(--blue);
}

.copyright {
  background: hsl(231, 90%, 8%);
  text-align: center;
  color: var(--lavender-blue);
  font-size: var(--fs-6);
  font-family: "Roboto" sans-serif;
  padding: 15px var(--px);
  line-height: 1.7;
}

.copyright a {
  display: inline-block;
  color: var(--mustard);
  transition: var(--default-transition);
}

.copyright a:hover {
  color: var(--blue);
}

/* ---------------------------- GO TO TOP BUTTON ---------------------------- */

.scroll-btn {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.scroll-btn:hover {
  color: rgb(42, 120, 203);
}




/* ----------------------------- # EVENT GALLERY ---------------------------- */


.gallery {
  padding: var(--py) var(--px);
  overflow: hidden;
}

.gallery .section-subtitle {
  text-align: center;
  font-size: var(--fs-3);
  margin-bottom: 15px;

}

.gallery .section-title {
  text-align: center;
  font-size: var(--fs-9);
  margin-bottom: 75px;
}

.gallery .gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .gallery-container .gallery {
  flex: 1 1 20rem;
  margin: 0.1rem;
  overflow: hidden;
  position: relative;
  border-radius: .5rem;
  height: 25rem;
  cursor: pointer;
  margin-top: -70px;
}

.gallery .gallery-container .gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery .gallery-container .gallery .info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8);
  text-align: center;
  transform: scale(1.0);
  opacity: 0;
}

.gallery .gallery-container .gallery:hover .info {
  transform: scale(1);
  opacity: 1;
}

.gallery .gallery-container .gallery:hover img {
  transform: scale(1);
}

.gallery .gallery-container .gallery .info h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;

}

/* --------------------------------- LOADER --------------------------------- */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container.active {
  display: none;
}

.loader-container img {
  height: 10rem;
}